{% extends 'newsapp/basic.html' %}
{% block title %} About {% endblock %}
{% block body %}

<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="container">
      <h1 class="display-3">Hashtag News</h1>
      <p>This webpage shows the latest news headlines in all categories.</p>
      <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us here »</a></p>
    </div>
  </div>
</div>
<div class="container">

<hr class="featurette-divider">
</div>
<div class="container">

<hr class="featurette-divider">
</div>

<div class="container">

<hr class="featurette-divider">
</div>
<div class="container">
<div class="row featurette">
      <div class="col-md-7 mx-auto ">
        <h2 class="featurette-heading">Get the latest NEWS from around the World<span class="text-muted"><br></br>It’ll blow your mind.</span></h2>
        <p class="lead">We collect news from differen resources around the world and show all the data collectively at a single destination.</p>
      </div>
    </div>
</div>
<div class="container">

<hr class="featurette-divider">
</div>

<div class="container">

<hr class="featurette-divider">
</div>
<div class="container">

<hr class="featurette-divider">
</div>



{% endblock %}