<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>


span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


    .mt-3, .my-3 {
    margin-top: 1rem!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    @font-face {
  font-family: myFirstFont;
}
.navbar-brand {
font-style: italic;
  font-family: myFirstFont;
font-weight: bold;
}
    </style>
    <title>{% block title %}  {% endblock %}</title>
  </head>
  <body>
    <nav id="top" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">HashtagNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/contact/">ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">AboutUs</a>
      </li>
    </ul>
    <form method="get" action="/search" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"  type="search" id="query" name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
    <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/corona">Corona Ourbreak</a>
      <a class="p-2 text-muted" href="/india">India</a>
      <a class="p-2 text-muted" href="/usa">U.S</a>
      <a class="p-2 text-muted" href="/business">Business</a>
      <a class="p-2 text-muted" href="/entertainment">Entertainment</a>
      <a class="p-2 text-muted" href="/general">General</a>
      <a class="p-2 text-muted" href="/health">Health</a>
      <a class="p-2 text-muted" href="/science">Science</a>
      <a class="p-2 text-muted" href="/sports">Sports</a>
      <a class="p-2 text-muted" href="/technology">Technology</a>
    </nav>
  </div>
</div>


    <div class="container">
   <h1 style="text-align:center;">Welcome to Hashtag News</h1>
    </div>




    {% for message in messages%}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message ! </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

    {%  block body %} {% endblock %}
<!--footer-->
<footer class="container mt-3">
    <p class="float-right"><a href="/">Back to Home</a></p>
    <p>© 2020-2021 HashtagNews.com · <a href="/about">About</a> · <a href="/contact">Contact Us</a></p>
  </footer>

    <script>

      document.addEventListener('DOMContentLoaded',function(event){
  // array with texts to type in typewriter
  var dataText = [ "Welcome to Hashtag News","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Your own News Hub","Welcome to Hashtag News","Welcome to Hashtag News"];

  // type one text in the typwriter
  // keeps calling itself until the text is finished
  function typeWriter(text, i, fnCallback) {
    // chekc if text isn't finished yet
    if (i < (text.length)) {
      // add next character to h1
     document.querySelector("h1").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

      // wait for a while and call this function again for next character
      setTimeout(function() {
        typeWriter(text, i + 1, fnCallback)
      }, 100);
    }
    // text finished, call callback if there is a callback function
    else if (typeof fnCallback == 'function') {
      // call callback after timeout
      setTimeout(fnCallback, 700);
    }
  }
  // start a typewriter animation for a text in the dataText array
   function StartTextAnimation(i) {
     if (typeof dataText[i] == 'undefined'){
        setTimeout(function() {
          StartTextAnimation(0);
        }, 20000);
     }
     // check if dataText[i] exists
    if (i < dataText[i].length) {
      // text exists! start typewriter animation
     typeWriter(dataText[i], 0, function(){
       // after callback (and whole text has been animated), start next text
       StartTextAnimation(i + 1);
     });
    }
  }
  // start the text animation
  StartTextAnimation(0);
});

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>