{% extends 'newsapp/basic.html' %}
{% block title %} Sports {% endblock %}
{% block body %}



  <div class="container">
    <div class="row mb-2">

      {% for i in catdata %}
    <div class="container">
      <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ i.title }}</h2>
        <h3 style="bold">By {{ i.author }} on {{ i.publishedAt }}</h3>

        <p class="lead"><h5>{{ i.description }}</h5></p>
        <a href="/blogpost/{{i.title}}" class="stretched-link"><h4>Continue Reading...</h4></a>

      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{i.image }}" width="100%" height="100%" alt="{{i.title}}">
      </div>
    </div>
</div>


<div class="container">

<hr class="featurette-divider">
</div>
      {% endfor %}



    </div>
  </div>
  </div>

{% endblock %}